# Credentials and configuration.
# Extracted settings so both systemd timers and user can just source this when want to work on my backup.
# See https://restic.readthedocs.io/en/latest/030_preparing_a_new_repo.html

export RESTIC_REPOSITORY="azure:<azure-repo-name>:/"
export RESTIC_PASSWORD_FILE="/etc/restic/pw.txt"
export AZURE_ACCOUNT_NAME="<azure-account-name>"
export AZURE_ACCOUNT_KEY="<azure-account-key>"
export BACKUP_PATHS="<space-separated-paths-that-you-want-to-backup>"
